.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  overflow: auto;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px #a6acc1;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.icon path {
  fill: #000000;
}