.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  max-width: 33%;
}

.link {
  display: block;
}

.photo {
  display: block;
  width: 100%;
  height: 293px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .item {
    max-width: 50%;
  }

  .photo {
    height: 200px;
  }
}

@media (max-width: 460px) {
  .photo {
    height: 200px;
  }
}
